@font-face {
    font-family: fate;
    src: url('../fonts/darleston-webfont.ttf');
}

@font-face {
    font-family: fatezero;
    src: url('../fonts/MKX%20Title.ttf');
}

@font-face {
    font-family: xingkai;
    src: url('../fonts/xingkai.ttf');
}


